<div class="container">
  <h1>Create Account</h1>
  <form action="/users" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit">
  </form>
</div>
