<div class="container">
  <h1>Log In</h1>
  <form action="/log-in" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit">
  </form>
</div>
