<form id="reg">
  <label>Name:
    <input type="text" name="name" placeholder="Enter name...">
  </label>
  <label>Email:
    <input type="text" name="email" placeholder="Enter email...">
  </label>
  <label>Password:
    <input type="text" name="password" placeholder="Enter password...">
  </label>
  <label>Confirm:
    <input type="text" name="password_confirm" placeholder="Verify password...">
  </label>
  <input type="submit">
</form>
